<!-- <h2 mat-dialog-title>Detalhes da Transferência</h2>
<mat-dialog-content>
     <div *ngFor="let item of paymentDetail.pagador">
        <span>{{item.nome}}</span>
        <span>{{item.agencia}}</span>
        <span>{{item.banco}}</span>
        <span>{{ item.valor | currency:'2' }}</span>
        
    </div> 
  
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions> -->
<div style="margin-top: 200px; color: black;">

    <h2>{{paymentData.id}}</h2>
    <h2>{{paymentData.status}}</h2>
    <h2>{{paymentData.valor}}</h2>
</div>