/* Não foi necessário criar um tema custom para o Angular Material neste caso. Na verdade o Design é o mais simples deste teste por isso foi usado um padrão
e o estilo foi criado aqui neste documento */

/*variaveis*/
$bg-nix: -webkit-linear-gradient(45deg, #1de9b6, #2979ff);
$bg-titles: #1de9b6;
/*genericos*/
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
}
.p-16p {
  padding: 16px;
}
.mt-2 {
  margin-top: 2%;;
}
.mb-2 {
  margin-bottom: 2%;
}
.ml-2 {
  margin-left: 2%;
}
.mr-2 {
  margin-right: 2%;
}
.spacer-horiz {
  flex: 1 1 auto;
}
.mat-tooltip.tooltip {
  background-color: #2979ff;
  font-size: 14px;
}
.text-dark {
  color: #333;
}
.w-100 {
  width: 100%;
}
.pull-right {
  float: right;
}
